<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  May Node and Express be with you.

  <form action="/dict" method="POST">
    <input type="text" placeholder="английское слово" name="eng_word">
    <input type="text" placeholder="перевод на русский" name="rus_word">
    <input type="text" placeholder="часть речи" name="part" value=<%= part %>>
    <input type="text" placeholder="группа слов" name="group" value=<%= group %>>
    <button type="submit">Submit</button>
  </form>

  <ul class="dict">
  <% for(var i=0; i<dict.length; i++) {%>
    <li class="quote">
      <span><%= dict[i].eng_word %></span>
      <span><%= dict[i].rus_word %></span>
      <span><%= dict[i].part %></span>
      <span><%= dict[i].group %></span>
    </li>
  <% } %>
  </ul>

  <div class='container-fluid'>
    <div class='row'>
      <div class='col-lg-6'>
        <!-- сущ #1 -->
        <ul><!-- названия групп -->
          <li>

          </li>
        </ul>

        <ul><!-- слова данной группы -->
          <li>

          </li>
        </ul>

      </div>
      <div class='col-lg-6'>
dfdf
      </div>
    </div>
  </div>



  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
